.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}

/* Main Colors
=================================================================== */
.backgroundColor.primary {
  background: #20a8d8;
}
.backgroundColor.success {
  background: #4dbd74;
}
.backgroundColor.info {
  background: #63c2de;
}
.backgroundColor.warning {
  background: #f8cb00;
}
.backgroundColor.danger {
  background: #f86c6b;
}
.backgroundColorTitle.primary .title {
  background: #20a8d8;
}
.backgroundColorTitle.success .title {
  background: #4dbd74;
}
.backgroundColorTitle.info .title {
  background: #63c2de;
}
.backgroundColorTitle.warning .title {
  background: #f8cb00;
}
.backgroundColorTitle.danger .title {
  background: #f86c6b;
}
.color-white {
  color: white;
}
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
/* Wizard
=================================================================== */
.wizard-type1 {
  margin-top: -55px;
}
.wizard-type1 .progress {
  height: 4px;
  margin: 1px -15px 0 -15px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
}
.wizard-type1 ul.steps {
  margin: 0 -15px;
  line-height: 39px;
  height: 39px;
  background: #e4e5e6;
  overflow: hidden;
}
.wizard-type1 ul.steps li {
  margin: 0;
}
.wizard-type1 ul.steps li a {
  padding: 0 10px;
  height: 39px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  color: #3d3f42;
  margin: 0;
  font-size: 12px;
}
.wizard-type1 ul.steps li a .badge {
  background-color: #d1d4d7;
  color: #3d3f42;
  margin-right: 5px;
}
.wizard-type1 ul.steps li.active a {
  background: white;
  border-left: 1px solid #d1d4d7;
  border-right: 1px solid #d1d4d7;
  margin: 0 -1px;
  color: #3d3f42;
}
.wizard-type1 ul.steps li.active a .badge {
  background-color: #20a8d8;
  color: white;
}
.wizard-type1 ul.steps li.complete a {
  background: white;
}
.wizard-type1 ul.steps li.complete a .badge {
  background-color: #4dbd74;
  color: white;
}
.wizard-type1 .tab-pane {
  padding: 15px 0;
}
.wizard-type1 .actions {
  border-top: 1px solid #d1d4d7;
  background: #e4e5e6;
  margin: 0 -15px -15px -15px;
  padding: 15px;
}
.wizard-type2 {
  margin-top: -55px;
}
.wizard-type2 .progress {
  height: 4px;
  margin: 10px -5px 0 -5px;
}
.wizard-type2 ul.steps {
  margin: 0 -15px;
  line-height: 40px;
  height: 40px;
  overflow: hidden;
}
.wizard-type2 ul.steps li {
  margin: 0;
}
.wizard-type2 ul.steps li a {
  padding: 0 20px;
  height: 40px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  color: #d1d4d7;
  margin: 0;
  font-size: 12px;
  font-weight: 300;
}
.wizard-type2 ul.steps li.active a {
  background: transparent;
  color: #7a7f84;
  border-bottom: 1px solid #7a7f84;
}
.wizard-type2 ul.steps li.complete a {
  background: transparent;
  color: #4dbd74;
  border-bottom: 1px solid #4dbd74;
}
.wizard-type2 .tab-pane {
  padding: 15px 0;
}
.adminLayout .sidebar .sidebar-menu:first-child {
  position: relative;
  top: 15px;
}
.create-form .panel-default {
  width: 680px;
}
.qr-code canvas {
  margin: 0 auto;
  display: block;
}
