{%extends 'base.html'%}

{%block styles%}
  {%parent%}
{%endblock%}

{%block scripts%}
  {%parent%}
{%endblock%}

{%block main%}
  <!-- =========================================== navbar begins =========================================== -->
    <div class="navbar" role="navigation">
      <div class="navbar-header">
	   <a class="navbar-brand" href="/" data-role="route"><img src="/favicon.ico" style="margin-top: -8px;"> <span>Context Surgery</span></a>
	  </div>
      <ul class="nav navbar-nav navbar-actions navbar-left">
				<li class="visible-md visible-lg"><a id="main-menu-toggle"><i class="fa fa-bars"></i></a></li>
				<li class="visible-xs visible-sm"><a id="sidebar-menu"><i class="fa fa-bars"></i></a></li>
			</ul>
     <form class="navbar-form navbar-left breadcrum" data-role="breadcrum">
        <!-- Backbone router populate this -->
      </form>
      <ul class="nav navbar-nav navbar-right visible-md visible-lg">
        <li class="dropdown visible-md visible-lg">
          <a href="index.html#" class="dropdown-toggle" data-toggle="dropdown">
            <i class="icon-users"></i>
            <span class="badge" data-role="pending-invitations-count"></span>
          </a>
          <ul class="dropdown-menu container contacts" data-role="check-invitations">
            <!-- backbone views -->
          </ul>
        </li>
        <li class="dropdown visible-md visible-lg">
          <a href="index.html#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-settings"></i></a>
          <ul class="dropdown-menu">
            <li class="dropdown-menu-header text-center">
              <strong>Account</strong>
            </li>
            <li class="divider"></li>
            <li class=""><a href="/logout" class="route" data-role="route"><i class="fa fa-lock"></i> Logout</a></li>
          </ul>
        </li>
      </ul>
    </div>
    <!-- =========================================== navbar end =========================================== -->

    <!-- =========================================== sidebar end =========================================== -->
    <div class="sidebar">
      <div class="sidebar-collapse">
        <div class="sidebar-header" data-role="me-info">
          <!-- backbone view -->
        </div>

        <div class="sidebar-menu" data-role="left-bar">
          <!-- backboen view -->
        </div>
      </div>
      <!-- hiding this for the demo as it is not populated by real data yet. <div class="sidebar-footer">
        <ul class="sidebar-actions">
          <li class="action">
            <div class="btn-group dropup">
              <button type="button" class="dropdown-toggle" data-toggle="dropdown">
                <i class="icon-users"></i><span>Contacts</span>
                <span class="sr-only">Toggle Dropdown</span>
              </button>
              <ul class="dropdown-menu" role="menu">
                <li class="header">Contacts <i class="icon-settings"></i></li>
                <li><a href="index.html#"><span class="status status-success"></span> Anton Phunihel</a></li>
                <li><a href="index.html#"><span class="status status-success"></span> Alphonse Ivo</a></li>
                <li><a href="index.html#"><span class="status status-success"></span> Thancmar Theophanes</a></li>
                <li><a href="index.html#"><span class="status status-warning"></span> Walerian Khwaja</a></li>
                <li><a href="index.html#"><span class="status status-warning"></span> Clemens Janko</a></li>
                <li><a href="index.html#"><span class="status status-warning"></span> Chidubem Gottlob</a></li>
                <li><a href="index.html#"><span class="status status-danger"></span> Hristofor Sergio</a></li>
                <li><a href="index.html#"><span class="status status-danger"></span> Tadhg Griogair</a></li>
                <li><a href="index.html#"><span class="status status-danger"></span> Pollux Beaumont</a></li>
                <li><a href="index.html#"><span class="status status-danger"></span> Adam Alister</a></li>
                <li><a href="index.html#"><span class="status status-danger"></span> Carlito Roffe</a></li>
              </ul>
            </div>
          </li>
        </ul>
        <ul class="sidebar-terms">
          &nbsp;
           <li><a href="index.html#">Terms</a></li>
          <li><a href="index.html#">Privacy</a></li>
          <li><a href="index.html#">Help</a></li>
          <li><a href="index.html#">About</a></li>
        </ul>
      </div> -->
    </div>
    <!-- =========================================== sidebar ends =========================================== -->
    <!-- =========================================== main begins =========================================== -->
    <div class="main" id="main" data-role="main">
      <!-- backbone views -->
    </div>
    <!-- =========================================== main end =========================================== -->
    <footer>
      <div class="row">
        <div class="col-sm-5">
          ©2014 Context Surgery by Context Aware.
        </div>
      </div>
    </footer>

    <div data-role="modal-container">

    </div>

{%endblock%}

{%block inline_scripts%}
  {%parent%}
{%endblock%}
