<!-- Modal -->
<div class="modal fade" id="newMessage" tabindex="-1" role="dialog" aria-labelledby="newMessageLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="newMessageLabel">New Message</h4>
      </div>
      <div class="modal-body">
        <form role="form" class="form-horizontal" data-role="new-message-form">
          <div class="form-group">
            <label for="to" class="col-sm-2 control-label">To:</label>
            <div class="col-sm-10">
              <select class="form-control" id="to" data-role="to" placeholder="Enter user" >
                <option value=""></option>
                <!-- backbone view -->
              </select>
            </div>
          </div>
          <div class="form-group">
            <label for="message" class="col-sm-2 control-label">Message:</label>
            <div class="col-sm-10">
              <textarea class="form-control" id="message" placeholder="Enter message" ></textarea>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" data-role="send-message">Send</button>
      </div>
    </div>
  </div>
</div>
