<!-- Modal -->
<div class="modal fade" id="uploadFile" tabindex="-1" role="dialog" aria-labelledby="uploadFile" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="uploadFile">Upload File</h4>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <div class="controls">
              <div id="dropzone">
              <form class="dropzone">
                <div class="fallback">
                  <input name="asset" type="file" multiple="" />
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-role="close" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" data-role="upload">Send</button>
      </div>
    </div>
  </div>
</div>
